In [65]:
import pandas as pd
from datetime import datetime
import re



pd.set_option('display.max_columns', None)

In [12]:
df = pd.read_csv('frames.csv', index_col=0)
df
# if country-code is DE, and first three digits is not +49 add +49
# remove brackets

,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,NaN,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,NaN,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,NaN,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,NaN,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [3]:
df.dtypes

address          object
longitude        object
lat              object
locality         object
store_code       object
staff_numbers    object
opening_date     object
store_type       object
latitude         object
country_code     object
continent        object
dtype: object

In [16]:
df.isna().sum()

address          0
longitude        0
locality         0
store_code       0
staff_numbers    0
opening_date     0
store_type       0
latitude         0
country_code     0
continent        0
dtype: int64

In [6]:
def format_date(df, column):
    
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d', errors='ignore')
    df[column] = pd.to_datetime(df[column], format='%Y %B %d', errors='ignore')
    df[column] = pd.to_datetime(df[column], format='%B %Y %d', errors='ignore')
    df[column] = pd.to_datetime(df[column], errors='coerce')
#     invalid_dates = df[df[column].isnull()]
#     if not invalid_dates.empty:

#         print(invalid_dates)
    # 36 NaT values were found and dropped.
#     df = df.dropna(subset=[column],how='any', inplace = True)
#     print(df[column])
    
format_date(df, 'opening_date')

In [67]:
df.dtypes

address           object
longitude        float64
locality          object
store_code        object
staff_numbers      int16
opening_date      object
store_type        object
latitude         float64
country_code      object
continent         object
dtype: object

In [58]:
# df.drop(columns='lat',inplace=True)
df.drop(columns='latitiude',inplace=True)

In [15]:
df = df.dropna(subset=['address'],how='any')

In [63]:
 def remove_char_from_string(value):
        return re.sub(r'\D', '',value)

In [66]:
df['staff_numbers'] =  pd.to_numeric( df['staff_numbers'].apply(remove_char_from_string),errors='coerce', downcast="integer")
df

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,
1,"Flat 72WSally isleEast DeantownE7B 8EB, High W...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/550491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnelSouth LydiaWC9 2BE, Westbury",51.26000,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.18750,GB,Europe
4,"Studio 6Stephen landingSouth SimonB77 2WA, Belper",53.02330,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
5,Flat 92uChristian harborsPort CharlotteN57 8FJ...,53.38333,Gainsborough,GA-CAD01AC2,36,1995-05-15,Local,-0.76667,GB,Europe
...,...,...,...,...,...,...,...,...,...,...
445,"Flat 7Stephanie lakeMorrissideHP8 8LH, Cowes",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,"Täschestraße 2539039 Nördlingen, Kirchlengern",52.20000,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,"Studio 8Moss mallWest LindaM0E 6XR, High Wycombe",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,"Baumplatz 680114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,"Gotthilf-Rose-Straße 7/345457 Feuchtwangen, Ba...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.22780,DE,Europe

In [45]:
"""
clean odd country code
"""
df.country_code.unique()

array(['GB', 'DE', 'US'], dtype=object)

In [50]:
df.continent.unique()
# clean wrong continent
# change lat and long datatype
# clean store type
# clean odd country code
# change all to 3 decimal places

array(['Europe', 'America'], dtype=object)

In [47]:
df.store_type.unique()

array(['Local', 'Super Store', 'Mall Kiosk', 'Outlet'], dtype=object)

In [56]:
# Remove newline characters from the 'Column' column
df['address'] = df['address'].str.replace('\n', '')
df

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent,latitiude
index,,,,,,,,,,,
1,"Flat 72WSally isleEast DeantownE7B 8EB, High W...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe,51.62907
2,"Heckerstraße 4/550491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe,48.52961
3,"5 Harrison tunnelSouth LydiaWC9 2BE, Westbury",51.26000,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.18750,GB,Europe,51.26000
4,"Studio 6Stephen landingSouth SimonB77 2WA, Belper",53.02330,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe,53.02330
5,Flat 92uChristian harborsPort CharlotteN57 8FJ...,53.38333,Gainsborough,GA-CAD01AC2,36,1995-05-15,Local,-0.76667,GB,Europe,53.38333
...,...,...,...,...,...,...,...,...,...,...,...
445,"Flat 7Stephanie lakeMorrissideHP8 8LH, Cowes",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe,50.76306
446,"Täschestraße 2539039 Nördlingen, Kirchlengern",52.20000,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe,52.20000
448,"Studio 8Moss mallWest LindaM0E 6XR, High Wycombe",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe,51.62907
449,"Baumplatz 680114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe,49.03685
450,"Gotthilf-Rose-Straße 7/345457 Feuchtwangen, Ba...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.22780,DE,Europe,50.64336

In [33]:
rslt_df = df[df['continent'] == '1WZB1TE1HL']
maps = df[df['continent'] == 'XQ953VS0FG']
maps

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,
414,XTUAV57DP4,ID819KG3X5,RY6K0AUE7F,TUOKF5HAAQ,FRTGHAA34B,13PIY8GD1H,X0FE7E2EOG,AE7EEW4HSS,OYVW925ZL8,XQ953VS0FG

In [35]:
df.shape

(447, 10)

In [40]:
values = ['QP74AHEQT0',
       'O0QJIRC943', '50IB01SFAZ', '0RSNUU3DF5', 'B4KVQB3P5Y',
       'X0FE7E2EOG', 'NN04B3F6UQ']
df = df.drop(df[df['store_type'].isin(values)].index)

df

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,
1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
5,Flat 92u\nChristian harbors\nPort Charlotte\nN...,53.38333,Gainsborough,GA-CAD01AC2,36,1995-05-15,Local,-0.76667,GB,Europe
...,...,...,...,...,...,...,...,...,...,...
445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [52]:
df['longitude'] = df['longitude'].astype(float)
df['latitude'] = df['latitude'].astype(float)

In [49]:
# Replace multiple values in a specific column using a dictionary where eeruope and eeamerica is present
replace_dict = {'eeEurope': 'Europe', 'eeAmerica': 'America'}
df['continent'] = df['continent'].replace(replace_dict)

In [130]:
df['country_code'] == 'GGB'

0        False
1        False
2        False
3        False
4        False
         ...
15315    False
15316    False
15317    False
15318    False
15319    False
Name: country_code, Length: 15284, dtype: bool

In [131]:
# change phone number col
# address column
# just look through unique values
#  chnage join date col

In [127]:
def modify_phone_num(df, column):
    df[column] = df[column].replace('\.', '', regex=True)

    # Remove non-digit characters from phone column
    df[column] = df[column].str.replace(r'\D+', '')
    df[column].astype(int)

    # Format phone numbers as (XXX) XXX-XXXX
    df[column] = df[column].apply(lambda x: '({}) {}-{}'.format(x[0:3], x[3:6], x[6:]))

    # Remove the second and third digits if they are '00'
    df[column] = df[column].apply(lambda x: x[0] + x[3:] if x[1:3] == '00' else x)

    # Remove newline characters from the 'Column' column
    df[column] = df[column].replace(to_replace='\\n', value='\n', regex=True)
    return df
def modify_countyr_code(df, column):
    df[column] = df[column].str.replace(r'GGB', 'GB')
    return df

/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_number'] = df['phone_number'].replace('\.', '', regex=True)
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['phone_number'] = df['phone_number'].str.replace(r'\D+', '')
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_number'] = df['phone_number'].str.replace(r'\D+', '')
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_number'] = df['phone_number'].apply(lambda x: '({}) {}-{}'.format(x[0:3], x[3:6], x[6:]))
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_number'] = df['phone_number'].apply(lambda x: x[0] + x[3:] if x[1:3] == '00' else x)
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['address'] = df['address'].replace(to_replace='\\n', value='\n', regex=True)
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country_code'] = df['country_code'].str.replace(r'GGB', 'GB')

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid,NumValues
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/059015 Gießen,Germany,DE,(490) 047-905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,16
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22aLynne terraceMcCarthymouthTF0 9GH,United Kingdom,GB,(016) 149-60674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,15
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann driveJoanboroughSK0 6LR,United Kingdom,GB,(440) 121-4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b,17
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadowNew TracyW22 2QG,United Kingdom,GB,(030) 699-90871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0,15
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White passHunterboroughNN96 4UE,United Kingdom,GB,(012) 149-60225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41IJones lodgeOliviaboroughE8 3DU,United Kingdom,GB,(440) 292-018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302,16
15316,14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkwayMillsfurtL4G 7NX,United Kingdom,GB,(440) 114-4960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc,17
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/515064 Bad Liebenwerda,Germany,DE,(029) 840-8192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651,14
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357Anthonymouth, MA 09610",United States,US,(239) 711-3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572,14
15319,1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4Hancock roadPhillipsviewST1X 3XB,United Kingdom,GB,(440) 131-4960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1,17

In [128]:
# def format_tel(tel):
#     pass
categorical = df.dtypes[df.dtypes == 'object'].index
print(categorical)
df[categorical].describe()

Index(['first_name', 'last_name', 'company', 'email_address', 'address',
       'country', 'country_code', 'phone_number', 'join_date', 'user_uuid'],
      dtype='object')

,first_name,last_name,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
count,15284,15284,15284,15284,15284,15284,15284,15284,15284,15284
unique,2162,1176,12089,15284,15284,3,3,14536,8252,15284
top,Michael,Smith,Smith Inc,rudi79@winkler.de,Zimmerstr. 1/059015 Gießen,United Kingdom,GB,(013) 149-60333,2006-05-30,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
freq,57,340,22,1,1,9371,9371,4,8,1

In [117]:
df['NumValues'] = df['phone_number'].apply(lambda x: len(x))
df['NumValues'].unique()

/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/1517415436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NumValues'] = df['phone_number'].apply(lambda x: len(x))

array([16, 15, 17, 18, 14, 13, 19, 12, 20])

In [123]:
rslt_df = df[df['NumValues'] == 20]
rslt_df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid,NumValues
132,132,John,Horne,1939-05-28,Mejia-Decker,vicki84@key.org,"28688 Mitchell Mews Apt. 598Amyview, FL 74613",United States,US,(180) 933-8333424455,1996-02-20,555bf9a3-2276-40f4-b5a4-492fc55c1bb8,20
408,408,Taylor,Fisher,1989-05-21,Blair-Bridges,kbrown@gomez.biz,"97751 Stephen OvalEast Sherryborough, DE 66572",United States,US,(118) 247-2913069975,2010-09-28,90299f4e-f61d-4bde-9dd2-588e41e19df3,20
594,594,Henry,Knight,1983-10-25,"Jackson, Reed and Gardner",fosborne@west-durham.net,"990 Maria IsleFieldsborough, MH 95902",United States,US,(182) 853-8411323750,2015-11-13,1171bab7-568f-40fa-aa82-e5214536a590,20
671,671,Jasmine,Clements,1992-08-08,Guerra-Wang,brian74@baker.com,"715 Harris Divide Apt. 841West Sophia, AL 71745",United States,US,(149) 430-5455180257,1994-06-06,4a958177-0b80-4e4b-b425-fedb5e78ceb0,20
698,698,Sherri,Gomez,1996-05-03,Callahan PLC,mooreallison@lopez-johnson.com,"14139 Colon ThroughwayLisamouth, NM 97586",United States,US,(101) 495-5364769170,1998-01-16,4110c6a8-d9e2-4014-af1e-cb78077a7c5b,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14322,14346,Mark,Hayden,1958-01-09,Villanueva LLC,ejohnson@burns.org,"20229 Lori Brook Suite 452Garyland, CT 76025",United States,US,(142) 073-4590571495,2004-06-11,5197e7cc-2c24-44f9-885f-d05aab33dad8,20
14839,14866,Judith,Frazier,1952-08-31,Lopez and Sons,jacksonmegan@walsh-dixon.net,"387 Crystal LockGallowayville, KY 11972",United States,US,(151) 147-8750662742,1994-03-20,77180b7f-a6d1-4e36-a7e7-523fcc080472,20
14952,14980,Deborah,Cooper,1981-09-01,Bradshaw Ltd,michaelschwartz@flores-miller.com,"882 Smith SpursEast Justinview, WV 08998",United States,US,(100) 697-9406611637,2011-11-23,288352ef-5bd0-4c49-91c8-9e4d3b78e6eb,20
14966,14995,Jacob,Gomez,1974-02-24,Acosta-Jensen,dgarner@@tucker.info,"67088 Ronnie Cape Suite 834Abigailmouth, ND 70299",United States,US,(193) 999-1587020980,2020-10-09,a3c60a34-b34b-4a8c-a34a-e695b86aa08f,20
15119,15149,Jon,Snow,2001-12-17,"Gonzales, Kim and Armstrong",william68@dixon.org,"27853 Mckee Ford Apt. 751Reynoldstown, MH 14809",United States,US,(158) 761-6176872936,2000-01-31,2f460f40-28dd-4f1b-b417-4db6c6e8aa24,20

In [2]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (2.7.0)
Requirement already satisfied: pandas>=0.25.3 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from tabula-py) (1.4.3)
Requirement already satisfied: numpy in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from tabula-py) (1.23.1)
Requirement already satisfied: distro in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from tabula-py) (1.8.0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)

In [9]:
!java -version

java version "1.8.0_371"
Java(TM) SE Runtime Environment (build 1.8.0_371-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.371-b11, mixed mode)

In [10]:
import tabula

ModuleNotFoundError: No module named 'tabula'