In [5]:
import pandas as pd
from datetime import datetime
import re
import tabula


pd.set_option('display.max_columns', None)

ModuleNotFoundError: No module named 'tabula'

In [195]:
df = pd.read_csv('output.csv', index_col=0)
df
# if country-code is DE, and first three digits is not +49 add +49
# remove brackets

,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
index,,,,,,,,,,,
0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...
14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302
14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc
15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572
1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [177]:
df.dtypes

first_name               object
last_name                object
date_of_birth            object
company                  object
email_address            object
address                  object
country                  object
country_code             object
phone_number             object
join_date        datetime64[ns]
user_uuid                object
dtype: object

In [205]:
df.isna().sum()

first_name       21
last_name        21
date_of_birth    36
company          21
email_address    21
address          21
country          21
country_code     21
phone_number     21
join_date        36
user_uuid        21
dtype: int64

In [203]:
def format_date(df, column):
    
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d', errors='ignore').dt.date
    df[column] = pd.to_datetime(df[column], format='%Y %B %d', errors='ignore')
    df[column] = pd.to_datetime(df[column], format='%B %Y %d', errors='ignore')
    df[column] = pd.to_datetime(df[column], errors='coerce')
#     invalid_dates = df[df[column].isnull()]
#     if not invalid_dates.empty:

#         print(invalid_dates)
    # 36 NaT values were found and dropped.
#     df = df.dropna(subset=[column],how='any', inplace = True)
    print(df[column])
    
format_date(df, 'join_date')
# format_date(df, 'date_of_birth')

index
0       2018-10-10
1       2001-12-20
2       2016-12-16
3       2004-02-23
4       2006-09-01
           ...
14913   2016-04-15
14994   2020-07-20
15012   2021-03-07
15269   2011-01-03
1249    2015-08-28
Name: join_date, Length: 15320, dtype: datetime64[ns]

In [204]:
df.dtypes

first_name               object
last_name                object
date_of_birth    datetime64[ns]
company                  object
email_address            object
address                  object
country                  object
country_code             object
phone_number             object
join_date        datetime64[ns]
user_uuid                object
dtype: object

In [129]:
"""
date time, address has /n, phone number is  weird,
"""
df.country_code.unique()

array(['DE', 'GB', 'US'], dtype=object)

In [130]:
df['country_code'] == 'GGB'

0        False
1        False
2        False
3        False
4        False
         ...
15315    False
15316    False
15317    False
15318    False
15319    False
Name: country_code, Length: 15284, dtype: bool

In [131]:
# change phone number col
# address column
# just look through unique values
#  chnage join date col

In [127]:
def modify_phone_num(df, column):
    df[column] = df[column].replace('\.', '', regex=True)

    # Remove non-digit characters from phone column
    df[column] = df[column].str.replace(r'\D+', '')
    df[column].astype(int)

    # Format phone numbers as (XXX) XXX-XXXX
    df[column] = df[column].apply(lambda x: '({}) {}-{}'.format(x[0:3], x[3:6], x[6:]))

    # Remove the second and third digits if they are '00'
    df[column] = df[column].apply(lambda x: x[0] + x[3:] if x[1:3] == '00' else x)

    # Remove newline characters from the 'Column' column
    df[column] = df[column].replace(to_replace='\\n', value='\n', regex=True)
    return df
def modify_countyr_code(df, column):
    df[column] = df[column].str.replace(r'GGB', 'GB')
    return df

/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_number'] = df['phone_number'].replace('\.', '', regex=True)
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['phone_number'] = df['phone_number'].str.replace(r'\D+', '')
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_number'] = df['phone_number'].str.replace(r'\D+', '')
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_number'] = df['phone_number'].apply(lambda x: '({}) {}-{}'.format(x[0:3], x[3:6], x[6:]))
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_number'] = df['phone_number'].apply(lambda x: x[0] + x[3:] if x[1:3] == '00' else x)
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['address'] = df['address'].replace(to_replace='\\n', value='\n', regex=True)
/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/2524159838.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country_code'] = df['country_code'].str.replace(r'GGB', 'GB')

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid,NumValues
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/059015 Gießen,Germany,DE,(490) 047-905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,16
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22aLynne terraceMcCarthymouthTF0 9GH,United Kingdom,GB,(016) 149-60674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,15
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann driveJoanboroughSK0 6LR,United Kingdom,GB,(440) 121-4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b,17
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadowNew TracyW22 2QG,United Kingdom,GB,(030) 699-90871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0,15
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White passHunterboroughNN96 4UE,United Kingdom,GB,(012) 149-60225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41IJones lodgeOliviaboroughE8 3DU,United Kingdom,GB,(440) 292-018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302,16
15316,14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkwayMillsfurtL4G 7NX,United Kingdom,GB,(440) 114-4960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc,17
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/515064 Bad Liebenwerda,Germany,DE,(029) 840-8192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651,14
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357Anthonymouth, MA 09610",United States,US,(239) 711-3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572,14
15319,1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4Hancock roadPhillipsviewST1X 3XB,United Kingdom,GB,(440) 131-4960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1,17

In [128]:
# def format_tel(tel):
#     pass
categorical = df.dtypes[df.dtypes == 'object'].index
print(categorical)
df[categorical].describe()

Index(['first_name', 'last_name', 'company', 'email_address', 'address',
       'country', 'country_code', 'phone_number', 'join_date', 'user_uuid'],
      dtype='object')

,first_name,last_name,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
count,15284,15284,15284,15284,15284,15284,15284,15284,15284,15284
unique,2162,1176,12089,15284,15284,3,3,14536,8252,15284
top,Michael,Smith,Smith Inc,rudi79@winkler.de,Zimmerstr. 1/059015 Gießen,United Kingdom,GB,(013) 149-60333,2006-05-30,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
freq,57,340,22,1,1,9371,9371,4,8,1

In [117]:
df['NumValues'] = df['phone_number'].apply(lambda x: len(x))
df['NumValues'].unique()

/var/folders/k4/lsf7875j0pd9cxljb33jtqb40000gn/T/ipykernel_2642/1517415436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NumValues'] = df['phone_number'].apply(lambda x: len(x))

array([16, 15, 17, 18, 14, 13, 19, 12, 20])

In [123]:
rslt_df = df[df['NumValues'] == 20]
rslt_df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid,NumValues
132,132,John,Horne,1939-05-28,Mejia-Decker,vicki84@key.org,"28688 Mitchell Mews Apt. 598Amyview, FL 74613",United States,US,(180) 933-8333424455,1996-02-20,555bf9a3-2276-40f4-b5a4-492fc55c1bb8,20
408,408,Taylor,Fisher,1989-05-21,Blair-Bridges,kbrown@gomez.biz,"97751 Stephen OvalEast Sherryborough, DE 66572",United States,US,(118) 247-2913069975,2010-09-28,90299f4e-f61d-4bde-9dd2-588e41e19df3,20
594,594,Henry,Knight,1983-10-25,"Jackson, Reed and Gardner",fosborne@west-durham.net,"990 Maria IsleFieldsborough, MH 95902",United States,US,(182) 853-8411323750,2015-11-13,1171bab7-568f-40fa-aa82-e5214536a590,20
671,671,Jasmine,Clements,1992-08-08,Guerra-Wang,brian74@baker.com,"715 Harris Divide Apt. 841West Sophia, AL 71745",United States,US,(149) 430-5455180257,1994-06-06,4a958177-0b80-4e4b-b425-fedb5e78ceb0,20
698,698,Sherri,Gomez,1996-05-03,Callahan PLC,mooreallison@lopez-johnson.com,"14139 Colon ThroughwayLisamouth, NM 97586",United States,US,(101) 495-5364769170,1998-01-16,4110c6a8-d9e2-4014-af1e-cb78077a7c5b,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14322,14346,Mark,Hayden,1958-01-09,Villanueva LLC,ejohnson@burns.org,"20229 Lori Brook Suite 452Garyland, CT 76025",United States,US,(142) 073-4590571495,2004-06-11,5197e7cc-2c24-44f9-885f-d05aab33dad8,20
14839,14866,Judith,Frazier,1952-08-31,Lopez and Sons,jacksonmegan@walsh-dixon.net,"387 Crystal LockGallowayville, KY 11972",United States,US,(151) 147-8750662742,1994-03-20,77180b7f-a6d1-4e36-a7e7-523fcc080472,20
14952,14980,Deborah,Cooper,1981-09-01,Bradshaw Ltd,michaelschwartz@flores-miller.com,"882 Smith SpursEast Justinview, WV 08998",United States,US,(100) 697-9406611637,2011-11-23,288352ef-5bd0-4c49-91c8-9e4d3b78e6eb,20
14966,14995,Jacob,Gomez,1974-02-24,Acosta-Jensen,dgarner@@tucker.info,"67088 Ronnie Cape Suite 834Abigailmouth, ND 70299",United States,US,(193) 999-1587020980,2020-10-09,a3c60a34-b34b-4a8c-a34a-e695b86aa08f,20
15119,15149,Jon,Snow,2001-12-17,"Gonzales, Kim and Armstrong",william68@dixon.org,"27853 Mckee Ford Apt. 751Reynoldstown, MH 14809",United States,US,(158) 761-6176872936,2000-01-31,2f460f40-28dd-4f1b-b417-4db6c6e8aa24,20

In [2]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (2.7.0)
Requirement already satisfied: pandas>=0.25.3 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from tabula-py) (1.4.3)
Requirement already satisfied: numpy in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from tabula-py) (1.23.1)
Requirement already satisfied: distro in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from tabula-py) (1.8.0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)

ModuleNotFoundError: No module named 'tabula'